#oi{
    color:white;
}
h5{
color:white;
}
p{
    color:white;
}
    #Conquista{
        color:white;
    }
    #novidade
    {
        color:white;
        margin-bottom: 20px;
        
    }
    #contato iframe
    {
width:100% ;
    }
#quadratext{
    color:black
}